*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Open Sans', sans-serif;
}
.max-width {
    max-width: 1300px;
    padding: 0 80px 0 20px;
    margin: auto;
}

/* NAV STYLING */
.navbar{
    position: fixed;
    width: 100%;
    /*background: black;*/
    z-index: 999;
    padding: 5px 20px 5px 20px;
    transition: all 0.3s cubic-bezier(0.25, 0.1, 0.39, 1.03);
}
.navbar .sticky{
    padding-top: 5px;
    background: rgb(255, 255, 255);
    
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar .logo img{
    width: 40px;
}
.navbar .menu li{
    list-style: none;
    display: inline-block;
}
.navbar .menu li a {
    color: #eee;
    font-size: 18px;
    font-weight: 600;
    margin-left: 30px;
    transition: color 0.3 ease;
}
.navbar .menu li a:hover {
    color: #f0ab18;
    
}
/* Home styling */
.home{
    display: flex;
    background: url(back1.jpg);
    height: 100vh;
    min-height: 500px;
}




/* About styling */
section{
    padding: 80px    0;
}
.about .title{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.about .about-content .text{
    font-size: 25px;
    text-align: justify;
    padding-left: 100px;
    padding-right: 80px
}


/* pro styling */
.projects{
    background: url(images/back1.jpg) ;
    height: 80vh;
}
.projects .max-width {
    padding:0 40px 0 40px ;
}
.projects .title{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.projects .projects-content .card{
    display: inline-block;
    width:calc(33% - 40px);
    background: #D3D3D3;    ;
    border-radius: 6px;
    padding: 20px 25px;
    margin-top: 20px;
}
.projects .projects-content .card:hover{
    color: #eee;
    background: gray;
}
.projects .projects-content .card .box{
    transition: all 0.3s ease;
}
.services .serv-content .card:hover .box{
    transform: scale(1.05);
}
.projects .projects-content .card .fit-img {
    width: 200px;
}
.projects .projects-content .card .textpro{
    font-size: 25px;
    font-weight: bold;
    margin: 10px 0 7px 0;
}


/*photo styling*/
.photo{
    display: flex;
    width: 100%;
}
.photo .max-width {
    padding:0 40px 0 40px ;
}
.photo .title{
    text-align: center;
    font-size: 40px;
    padding-bottom: 20px;
}
.photo .photo-content{
    text-align: center;
}
.photo .photo-content img {
    display: inline-block;
    width:calc(33% - 10px);
    padding: 20px 25px;
    margin-top: 20px;
    opacity: 90%;
}
.photo .photo-content img:hover{
    opacity: 100%;
}
